<mat-form-field>
    <input matInput i18n-placeholder placeholder="Page" [(ngModel)]="page">
</mat-form-field>
<mat-form-field>
    <input matInput i18n-placeholder placeholder="Limit" [(ngModel)]="limit">
</mat-form-field>
<mat-form-field>
    <input matInput i18n-placeholder placeholder="Update time" [(ngModel)]="timetoupdate" (change)="settime()">
</mat-form-field>
<div *ngIf="rows" class="row">
    <div *ngFor="let d of rows;index as ii" class="block">
        <!-- {{d|json}} -->

   
            <div class="one">
                <div>{{d.sensorid}}</div>
                <div>T:{{d.t}}</div>
                <div>H:{{d.h}}</div>
                <a mat-button href="#/sensordetail/{{d.sensorid}}">Detail</a>  
            </div>
        

    </div>
</div>