<mat-form-field>
    <input matInput i18n-placeholder placeholder="Search" [(ngModel)]="search" (change)="searchbyname()"
        (onok)="searchbyname()">
</mat-form-field>
<mat-form-field>
    <input required matInput [matDatepicker]="picker" [(ngModel)]="sdate" i18n-placeholder placeholder="start date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker type="datetime" #picker></mat-datepicker>
</mat-form-field>

<mat-form-field>
    <input required matInput [matDatepicker]="picker1" [(ngModel)]="edate" i18n-placeholder placeholder="end date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker type="datetime" #picker1></mat-datepicker>
</mat-form-field>

<button mat-button (click)="exporttoexcel()" i18n>Export data to excel</button>
<table id="customers">
    <tr>
        <td>Sensor</td>
        <td>name</td>
        <td>description</td>
        <td>กลุ่ม</td>
        <td>detail</td>
        <td>edit</td>
    </tr>
    <tr *ngFor="let r of rows">
        <td>{{r.id}}</td>
        <td>{{r.name}}</td>
        <td>{{r.description}}</td>
        <td>{{r.sensorgroup?.name}}</td>
        <td><a href="#/sensordetail/{{r.id}}" mat-button>Detail</a></td>
        <td><a href="#/editsensor/{{r.id}}" mat-button>Edit</a></td>
    </tr>
</table>