<mat-form-field>
    <mat-label>Job name</mat-label>
    <input matInput type=text i18n-placeholder placeholder="Job name" [(ngModel)]="job.name">
</mat-form-field>

<mat-form-field>
    <mat-label>T low</mat-label>
    <input matInput type=number i18n-placeholder placeholder="T low" [(ngModel)]="job.tl">
</mat-form-field>
<mat-form-field>
    <input matInput type=number i18n-placeholder placeholder="T high" [(ngModel)]="job.th">
</mat-form-field>
<mat-form-field>
    <mat-label>H low</mat-label>
    <input matInput type=number i18n-placeholder placeholder="H low" [(ngModel)]="job.hl">
</mat-form-field>
<mat-form-field>
    <mat-label>H high</mat-label>
    <input matInput type=number i18n-placeholder placeholder="H high" [(ngModel)]="job.hh">
</mat-form-field>
<kyl-kyauto [service]="ss" [bag]="bag" [widthvalue]="'250px'" [p]="'sensor name'"></kyl-kyauto>
<kyl-kyauto [service]="jts" [bag]="jobtypebag" [widthvalue]="'250px'" [p]="'Job type'"></kyl-kyauto>
<button mat-button (click)="save()">Save</button>

<table id="customers">
    <tr>
        <td>@</td>
        <td>tl - th</td>
        <td>Enable</td>
    </tr>
    <tr *ngFor="let r of rows;index as i">
        <td>{{r.name}}</td>
        <td>{{r.tl}}- {{r.th}}</td>
        <td><mat-checkbox [(ngModel)]="r.enable"  (change)="enable(r,i)"></mat-checkbox></td>
    </tr>
</table>