<div class="nb">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button> {{title}} {{env.version}}
  <!-- <lib-kyback></lib-kyback> -->

  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/sensor']">
      <mat-icon>accessibility_new</mat-icon>
      <span i18n>Sensor </span>
    </button>

    <button mat-menu-item [routerLink]="['/realtime']" mat-menu-item>
      <mat-icon>assignment</mat-icon><label i18n>Real time</label>
    </button>

    <button mat-menu-item [routerLink]="['/addconfig']" mat-menu-item>
      <mat-icon>more_horiz</mat-icon><label i18n>Config</label>
    </button>
    <button mat-menu-item [routerLink]="['/email']" mat-menu-item>
      <mat-icon>mail</mat-icon><label i18n>Email</label>
    </button>
    <button mat-menu-item [routerLink]="['/addjob']" mat-menu-item>
      <mat-icon><span class="material-symbols-outlined">
        add_task
        </span></mat-icon><label i18n>Task</label>
    </button>

    <!-- 
   
      <button mat-menu-item [routerLink]="['/checkinadd']" mat-menu-item>
    <mat-icon>note_add</mat-icon><label i18n>Checkin add</label>
  </button>

      <button mat-menu-item [routerLink]="['/findcheckin']" mat-menu-item>
    <mat-icon>find_in_page</mat-icon><label i18n>Find Checkin </label>
  </button>

      <button mat-menu-item [routerLink]="['/findsec']" mat-menu-item>
    <mat-icon>find_in_page</mat-icon><label i18n>Find Sec</label>
  </button>

  <button mat-menu-item [routerLink]="['/getlasttag']" mat-menu-item>
    <mat-icon>schedule</mat-icon><label i18n>Get last Tag</label>
  </button>
      <button mat-menu-item [routerLink]="['/tmpl']" mat-menu-item>
        <mat-icon>find_in_page</mat-icon><label i18n>List templates</label>
      </button>
      <button mat-menu-item [routerLink]="['/tmplnew']" mat-menu-item>
        <mat-icon>find_in_page</mat-icon><label i18n>New template</label>
      </button>

      <button mat-menu-item [routerLink]="['/logout']">
    <mat-icon>call_made</mat-icon>
    <label i18n>Logout</label>
  </button> -->
  </mat-menu>

</div>


<div class="main">

  <router-outlet></router-outlet>
</div>