<mat-form-field>
    <input matInput i18n-placeholder placeholder="New Config name" [(ngModel)]="configname">
</mat-form-field>
<mat-form-field>
    <input matInput i18n-placeholder placeholder="New Config value" [(ngModel)]="configvalue">
</mat-form-field>
<button mat-button (click)="save()">Save</button>

<table id="customers">
<tr><td>#</td><td>#</td><td>#</td><td>#</td></tr>
<tr *ngFor="let c of rows;index as i">
    <td>{{c.name}}</td>
    <td>{{c.configvalue}}</td>
    <td><a mat-button href="#/serverconfigedit/{{c.id}}">Edit</a></td>
    <td><button mat-button (click)="delete(c.id,i)">delete</button></td>
</tr>
</table>