<mat-form-field>
    <input matInput i18n-placeholder placeholder="Edit Config name" [(ngModel)]="config.name">
</mat-form-field>
<mat-form-field>
    <input matInput i18n-placeholder placeholder="Edit Config value" [(ngModel)]="config.configvalue">
</mat-form-field>
<button mat-button (click)="edit()">Edit</button>