<mat-form-field>
    <input required matInput [matDatepicker]="picker" [(ngModel)]="sdate" i18n-placeholder placeholder="start date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker type="datetime" #picker></mat-datepicker>
</mat-form-field>

<mat-form-field>
    <input required matInput [matDatepicker]="picker1" [(ngModel)]="edate" i18n-placeholder placeholder="end date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker type="datetime" #picker1></mat-datepicker>
</mat-form-field>
<button mat-button (click)="update()">Show</button>
<mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email">
</mat-form-field> <button mat-button (click)="addemail()">Add email</button>
<table id="customers">
    <tr>
        <td>enable</td>
        <td>email</td>
        <td>#</td>
    </tr>
    <tr *ngFor="let o of rows;index as i">
        <mat-checkbox class="example-margin" [(ngModel)]="o.enable" (change)="enable(o,i)">Enable</mat-checkbox>
        <td>{{o.name}}</td>
    </tr>
</table>