<h1>{{sensor.name}}</h1>

<mat-form-field>
    <input matInput i18n-placeholder placeholder="Sensor name" [(ngModel)]="sensor.name">
</mat-form-field>
<mat-form-field>
    <input matInput i18n-placeholder placeholder="Description" [(ngModel)]="sensor.description">
</mat-form-field>
<kyl-kyauto [service]="sgs" [bag]="sensorgroupbag" [widthvalue]="'250px'" [p]="'sensor group'"></kyl-kyauto>
<button mat-button (click)="save()">Save</button>
